body {
    height: 1000px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

.menu {
    width: 20%;
    height: 100%;
    margin: 0; 
    padding: 0;
    float: left;
    font: 12px Verdana, sans-serif;
    background-color: #8544fd;
    border-right: 3px solid rgb(213, 213, 213);
}

.menu li {
    margin: 0; 
    padding: 0px;
    border-bottom: 1px solid rgb(213, 213, 213);
    text-align: left;
    list-style-type: none;
}

.menu a:link {
    background: #8544fd;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: grid;
}

.cadastro h1 {
    margin: 0;
}