body {
    height: 1000px;
    background-color: aqua;
    margin: 0;
    font-family: "Gill Sans", sans-serif;
}

.menu {
    width: 20%;
    height: 100%;
    margin: 0; 
    padding: 0;
    float: left;
    font: 12px Verdana, sans-serif;
    background-color: #ffffff;
}

.menu ul li {
    margin: 0; 
    padding: 0px;
    border-bottom: 1px solid #d50000a3;
    text-align: left;
    list-style-type: none;
}

.menu a:link {
    background: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
}

h1 {
    margin: 0;
}